<!DOCTYPE html>
<html class="no-js">
<head>
<meta charset="UTF-8">
<title>T-Mobile B2B Offical Website - Home Page</title>
<!--Temporarily disabled the "meta tag" for non-responsive layout-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/css/b2b.css">
<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/b2b/compclientlibs/shared/page-comp-level/css/b2b-comp.css">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script>window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.min.js"><\/script>')</script> 
<script src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/js/b2b-min.js"></script>
<script src="../../../../../../../../etc/designs/tmo/b2b/compclientlibs/shared/page-comp-level/js/whytmo.js"></script>

<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body class="byod">
<!--desktop background--> 
<!--<div class="background-dsk"></div>--> 
<!--/desktop background--> 

<!--Header Section Start-->
<header id="header_body" class="header"> </header>
<!--/Header Section--> 
<!--Main Content Section Start-->
<main class="">
	<section class="whytmo">
		<div data-ride="carousel" class="carousel slide" id="carousel-thumnail">
			<ol class="carousel-indicators">
				<li data-target="#carousel-thumnail" data-slide-to="0" class="active">
					<img src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/whytmo-thumbs-landing.jpg" alt="slide thumbnail">
				</li>
				<li data-target="#carousel-thumnail" data-slide-to="1">
					<img src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/whytmo-thumbs1.jpg" alt="slide thumbnail">
				</li>
				<li data-target="#carousel-thumnail" data-slide-to="2">
					<img src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/whytmo-thumbs2.jpg" alt="slide thumbnail">
				</li>
				<li data-target="#carousel-thumnail" data-slide-to="3">
					<img src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/whytmo-thumbs3.jpg" alt="slide thumbnail">
				</li>
				<li data-target="#carousel-thumnail" data-slide-to="4">
					<img src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/whytmo-thumbs4.jpg" alt="slide thumbnail">
				</li>
				<li data-target="#carousel-thumnail" data-slide-to="5">
					<img src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/whytmo-thumbs5.jpg" alt="slide thumbnail">
				</li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<div class="slide-holder" data-html-target="whytmo-landing.html">Hello No. One</div>
				</div>
				<div class="item">
					<div class="slide-holder" data-html-target="whytmo-slide-1.html">Hello No. One</div>
				</div>
				<div class="item">
					<div class="slide-holder" data-html-target="whytmo-slide-2.html">Hello No. Two</div>
				</div>
				<div class="item">
					<div class="slide-holder" data-html-target="whytmo-slide-3.html">Hello No. Three</div>
				</div>
				<div class="item">
					<div class="slide-holder" data-html-target="whytmo-slide-4.html">Hello Nox Three</div>
				</div>
				<div class="item">
					<div class="slide-holder" data-html-target="whytmo-slide-5.html">Hello Nox Three</div>
				</div>
			</div>
			<a data-slide="prev" href="#carousel-thumnail" class="left carousel-control"><span class="fa fa-angle-left mr5"></span></a> 
			<a data-slide="next" href="#carousel-thumnail" class="right carousel-control"><span class="fa fa-angle-right ml5"></span></a>
		</div>
	</section>
</main>
<!--/Main Content Section--> 

<!--Footer Section Start-->
<footer>
	<div class="container"> </div>
</footer>
<!--/Footer Section-->

</body>
</html>