<!DOCTYPE html>
<html class="no-js">
<head>
<meta charset="UTF-8">
<title>T-Mobile B2B Offical Website - Home Page</title>
<!--Temporarily disabled the "meta tag" for non-responsive layout-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/css/b2b.css">
<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/b2b/compclientlibs/shared/page-comp-level/css/b2b-comp.css">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')</script>
<script src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/js/b2b-min.js"></script>
<script src="../../../../../../../../etc/designs/tmo/b2b/compclientlibs/shared/page-comp-level/js/whytmo.js"></script>
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body>
<div id="html-slide" class="slideshow-holder slide5">
	<!--layer1-->
	<div class="background" style="background-image:url(../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/bg-whytmo-2.jpg)"></div>
	<!--/layer1-->
	<!--layer2-->
	<div class="white-image animated slideInRight bg-320" data-background-src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/img-contact.jpg" data-background-target="mobile"></div>
	<!--/layer2-->
	<!--layer3-->
	<div class="transparency animated slideInRight"></div>
	<!--/layer3-->
	<!--layer4-->
	<div class="content animated slideInRight">
		<h1 class="mb15">Let's talk</h1>
		<p>Our business reps are standing by to help you get more from your mobile provider. Call now <span class="text-primary">1.877.334.7144</span></p>
		<div class="mt25"><a class="btn btn-default btn-large btn-carosel-ph btn-full-ph">CONTACT A REP</a></div>
		<div class="row mt25 mt20-ph">
			<div class="col-xs-6">
				<h6 class="text-bold mb10">What we do for you</h6>
				<p class="small mb10">Unleash your business on the fastest nationwide 4GLTE network, reaching over 200 million people.</p>
				<div class="mb15-ph"><a href="#" class="cta1 no-btn">Check coverage</a></div>
			</div>
			<div class="col-xs-6">
				<h6 class="text-bold mb10">Choosing the best business plan is simple</h6>
				<p class="small mb10">No annual service contracts. No overages, ever, on our network. T-Mobile's Simple Choice for Business Plan takes the guesswork out of mobility.</p>
				<div class="mb20-ph"><a href="#" class="cta1 no-btn">Explore plans</a></div>
			</div>
		</div>
	</div>
	<!--/layer4-->
</div>
</body>
</html>