<!DOCTYPE html>
<html class="no-js">
<head>
<meta charset="UTF-8">
<title>T-Mobile B2B Offical Website - Home Page</title>
<!--Temporarily disabled the "meta tag" for non-responsive layout-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/css/b2b.css">
<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/b2b/compclientlibs/shared/page-comp-level/css/b2b-comp.css">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')</script>
<script src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/js/b2b-min.js"></script>
<script src="../../../../../../../../etc/designs/tmo/b2b/compclientlibs/shared/page-comp-level/js/whytmo.js"></script>
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body>
<div id="html-slide" class="slideshow-holder slide3">
	<!--layer1-->
	<div class="background" style="background-image:url(../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/bg-whytmo-3.jpg)"></div>
	<!--/layer1-->
	<!--layer2-->
	<div class="white-image animated slideInRight bg-320" data-background-src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/img-nooverage.jpg" data-background-target="mobile"></div>
	<!--/layer2-->
	<!--layer3-->
	<div class="transparency animated slideInRight"></div>
	<!--/layer3-->
	<!--layer4-->
	<div class="content animated slideInRight">
		<h1 class="mb20"> With unlimited<br>
			everything,<br>
			overages are over.<br>
		</h1>
		<p class="legal">T-Mobile doesn't belive limits are good for business. That's why out Simple Choice for business plan offers unlimited talk, text and data on the fastest
			nationwide 4G LTE network. And with unlimited data and texting in more than 120 destinations worldwide at no extra charge, you can concentrate on
			business and forget about ovarages. Un-leash your business with T-Mobile.</p>
		<div class="mt25 mt30-ph"><a class="btn btn-default btn-large btn-carosel-ph btn-full-ph">CONTACT A REP</a></div>
		<div class="mt15 mb30-ph mt10-ph"><a href="#" class="cta1 btn-full-ph">Learn more</a></div>
	</div>
	<!--/layer4-->
</div>
</body>
</html>