<!DOCTYPE html>
<html class="no-js">
<head>
<meta charset="UTF-8">
<title>T-Mobile B2B Offical Website</title>
<!--Temporarily disabled the "meta tag" for non-responsive layout-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/css/b2b.css">
<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/b2b/compclientlibs/shared/page-comp-level/css/b2b-comp.css">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script>window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')</script> 
<script src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/js/b2b-min.js"></script>

<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<!-- Header Section Start-->
<header id="header_body" class="header">
	<div class="container">
	</div>
</header>
<!-- Header Section End--> 

<!-- Main Content Section Start-->
<main class="container account-services">

	<!--hero section-->
	<div class="component-box hero">
	</div>
	<!--/hero section-->
	
	<!--main section-->
	<div class="component-box">
	</div>
	<!--/main section-->

</main>
<!-- Main Content Section End--> 

<!-- Footer Section Start-->
<footer>
	<div class="container">
	</div>
</footer>
<!-- Footer Section End--> 
</body>
</html>