<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>T-Mobile B2B Offical Website - Home Page</title>
    <!--Temporarily disabled the "meta tag" for non-responsive layout-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/css/b2b.css">
    <link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/b2b/compclientlibs/shared/page-comp-level/css/b2b-comp.css">
    <link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/b2b/globallibs/css/footer.css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
		<script>window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')</script> 
		<script src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/js/b2b-min.js"></script>
  </head>
  <body>
<!-- co_footer STARTS HERE -->
<footer id="template">
	<div id="footer" class="pt30-md">
		<div class="">
			<section class="row top-section">
				<ul class="list-unstyled accordion mb0 clearfix">
					<li class="col-md-3 title">
						<div class="container">
							<a href="javascript:void(0)" class="subhead4">CUSTOMER SUPPORT</a>
							<div class="detail mt30">
								<ul class="list-unstyled cta-footer">
									<li class="mb20">Existing Customer Support <br> 1-877-347-2127</li>
									<li class="mb20"><a href="javascript:void(0);">Find a Store</a></li>
									<li class="mb20"><a href="#">Account Services</a></li>
									<li><a href="#">Goverment support</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="col-md-3 title">
						<div class="container">
							<a href="javascript:void(0)" class="subhead4">EMPLOYEE DISCOUNTS</a>
							<div class="detail mt30">
								<ul class="list-unstyled cta-footer">
									<li class="mb20"><a href="#">Check Eligibility</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="col-md-3 title pr0-md">
						<div class="container">
							<a href="javascript:void(0)" class="subhead4">SOLUTIONS & RESOURCES</a>
							<div class="detail mt30">
								<ul class="list-unstyled cta-footer">
									<li class="mb20"><a href="#">Mobile Device Management <br>(MDM)</a></li>
									<li class="mb20"><a href="#">Machine-to-Machine (M2M)</a></li>
									<li class="mb20"><a href="#">Wi-Fi Calling</a></li>
									<li class="mb20"><a href="#">Government Solutions</a></li>
									<li class="mb20"><a href="#">Government eRate</a></li>
									<li><a href="#">Government Purchasing</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="col-md-3 title">
						<div class="container">
							<a href="javascript:void(0)" class="subhead4">PARTNERS</a>
							<div class="detail mt30">
							<ul class="list-unstyled cta-footer">
								<li class="mb20"><a href="#">Resellers</a></li>
							</ul>
							</div>
						</div>
					</li>
				</ul>
			</section>
		</div>
		<hr class="border-top-dotted hide show-md border-gray mt30 mb0">
		<div class="container">
			<section class="bottom-section mt30 mt0-md pt25 pt15-ph mb30-md row">
				<div class="col-md-5 col-md-push-7">
					<div class="row">
						<div class="col-md-12 text-right network-line social-networks">
							<span class="pr15 pr10-ph"><a href="javascript:void(0)"><img alt="icon-twitter" src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/icon-twitter.png"></a></span>
							<span class="pr15 pr10-ph"><a href="javascript:void(0)"><img alt="icon-linkedIn" src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/icon-linkedin.png"></a></span>
							<span class="pr15 pr10-ph"><a href="javascript:void(0)"><img alt="icon-facebook" src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/icon-facebook.png"></a></span>
							<span class="pr15 pr10-ph"><a href="javascript:void(0)"><img alt="icon-google" src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/icon-google.png"></a></span>
							<span class=""><a href="javascript:void(0)"><img alt="icon-youtube" src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/icon-youtube.png"></a></span>
							<span class="spanish"><a href="" class="ml20 ml25-ph">ESPAÑOL</a></span>
						</div>
					</div>
					<p class="text-right copyright pt15-ph pt20 pt25-md">&copy;2002-2014 T-MOBILE USA, INC.</p>
				</div>
				<div class="col-md-7 col-md-pull-5 mt0-md">
					<div class="row">
						<div class="col-xs-12 col-sm-11 col-md-12 col-ph-5 mt5 mt25-ph mb20-ph mt0-md pr50-sm pr30-md">
							<nav>
								<a href="#" class="pr15 pr20-sm">ABOUT</a>
								<a href="#" class="pr15 pr20-sm">INVESTOR RELATIONS</a>
								<a href="#" class="pr15 pr20-sm">PRESS</a>
								<a href="#" class="pr15 pr20-sm">JOBS</a>
								<a href="#" class="pr15 pr20-sm">DEUTSCHE TELEKOM</a>
								<a href="#" class="pr15 pr20-sm">PUERTO RICO</a>
								<a href="#" class="pr15 pr20-sm">PERSONAL</a>
							</nav>
						</div>
						<div class="col-xs-12 col-ph-7 legal mt20">
								<a href="#" class="mr15">PRIVACY POLICY</a>
								<a href="#" class="mr15">PRIVACY RESOURCES</a>
								<a href="#" class="mr15">CONSUMER INFORMATION</a>
								<a href="#" class="mr15">PUBLIC SAFETY/911</a>
								<a href="#" class="mr15">TERMS &amp; CONDITIONS</a>
								<a href="#" class="mr15">TERMS OF USE</a>
								<a href="#" class="mr15">ACCESSIBILITY</a>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</footer>
<!-- co_footer ENDS HERE -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript">
	$(".title" ).click(function() {
			//$(this).next('ul').toggleClass('hidden-xs');
			//$(this).next('ul').toggleClass('hidden-sm');
			//$(this).find('span.plus').text(function(_,value){return value =='-'?'+':'-'});
	});
	
</script>

</body>
</html>
