<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>T-Mobile B2B Offical Website - Home Page</title>
<!--Temporarily disabled the "meta tag" for non-responsive layout-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/css/b2b.css">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../../../../../../../../Rebellion/etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')</script>
<script src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/js/b2b-min.js"></script>
</head>

<body>
<!--Header Section Start-->
<header id="template">
	<div id="header" class="container">
		<nav role="navigation">
			<div class="nav-header">
				<a href="javascript:void(0)" class="pull-right mt10 ml20 mr40 mr25-sm hide-md"><div class="nav-humb"></div></a>
				<a class="nav-logo pull-left pt5 mr20" href="#"><img src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/tmobile-logo.png" alt="T-Mobile Logo"></a>
			</div>
			<div class="nav-collapse clearfix">
				<div class="pull-right-xs right-group show-xs">
					<form class="nav-form pull-left-xs mr20-xs text-center-ph" role="search">
						<div class="clear">
							<input type="text" class="form-control search-input center-block" placeholder="Find"><button type="submit" class="btn search-button center-block"><img src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/icon-header-search.png" alt="sarch icon"></button>
						</div>
					</form>
					<ul class="nav nav-right pull-right-xs mr-10 clearfix">
						<li class="pull-left-xs text-center store-locator"><a href="../../desktop/navbar"><img src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/icon-store.png" alt="store locator" class="hide show-xs"><span class="hide-xs">Store LOCATOR</span></a></li>
						<li class="pull-right-xs text-center my-tmo"><a href="../../desktop/navbar-static-top"><img src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/icon-mytmo.png" alt="my t-mobile" class="hide show-xs"><span class="hide-xs">MY T-MOBILE</span></a></li>
					</ul>
				</div>
				<ul class="nav nav-left pull-left-xs show-md">
					<li class="pull-left-xs text-center pl10-md pr10-md"><a href="#" class="">Plans</a></li>
					<li class="pull-left-xs text-center pl10-md pr10-md"><a href="#about">COVERAGE</a></li>
					<li class="pull-left-xs text-center pl10-md pr10-md"><a href="#contact">PERSONAL</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</nav>
	</div>
</header>
<!--/Header Section--> 

</body>
</html>
