<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>T-Mobile B2B Offical Website - Home Page</title>
<!--Temporarily disabled the "meta tag" for non-responsive layout-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/css/b2b.css">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../../../../../../../../Rebellion/etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')</script>
<script src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/js/b2b-min.js"></script>

</head>

<body>
<!--Header Section Start-->
<header id="header_body" class="header">
	<div id="header-adv" class="advanced">
		<!-- top-nav -->
		<div class="top-nav clearfix">
			<div class="container">
				<ul class="list-inline m0 p0 clearfix">
					<li class="p0 pull-left"> <a class="no-caret text-uppercase subhead5 lh30 pr20 border-right" href="javascript:void(0)">Consumer</a> </li>
					<li class="p0 pull-left"> <a class="no-caret text-uppercase subhead5 lh30 pl20" href="javascript:void(0)">Business</a> </li>
				</ul>
			</div>
		</div>
		<!-- /top-nav -->
		
		<!--main nav-->
		<div class="container">
			<nav role="navigation"> 
				<!--nav-header-->
				<div class="nav-header"><a href="javascript:void(0)" class="pull-right hide-md">
					<div data-sub-target=".mytmob-list" class="nav-humb nav-icon"></div>
					</a> <a class="nav-logo pull-left pt5 mr20" href="#"><img src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/tmobile-logo.png" alt="T-Mobile Logo"></a> </div>
				<!--/nav-header--> 
				<!--nav-collapse -->
				<div class="nav-collapse clearfix"> 
					
					<!--nav-right-->
					<ul class="nav nav-right pull-right mr-10 clearfix">
						<li data-sub-target=".search-list" class="nav-icon pull-left search-icon show hide-lg pr40-ph"></li>
						<li class="pull-left-xs text-center store-locator hide show-md"><a href="#"><img src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/icon-store.png" alt="store locator" class="hide show-xs"></a></li>
						<li class="pull-left shopping-cart"><a href="http://t-mobile.com"><img src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/icon-header-cart.png" alt="shopping cart"></a></li>
						<li data-sub-target=".mytmob-list" class="nav-icon pull-right-xs text-center my-tmo mr10 hide show-md"></li>
					</ul>
					<!--/nav-right--> 
					
					<!--nav-left-->
					<ul class="nav nav-left pull-left-xs">
						<li data-sub-target=".shop-list" class="left-menu pull-left-xs text-center pl10-xs pr10-sm pr5-xs pl20-lg pr20-lg menu-shop"><a href="#" id="shop">Shop <span class="fa fa-chevron-down"></span></a></li>
						<li data-sub-target=".plans-list" class="left-menu pull-left-xs text-center pl10-xs pr10-sm pr5-xs pl20-lg pr20-lg menu-plans"><a href="#" id="plans">Plans <span class="fa fa-chevron-down"></span></a></li>
						<li class="pull-left-xs text-center pl10-xs pr10-sm pr5-xs pl20-lg pr20-lg menu-coverage"><a href="#about">COVERAGE <span class="fa fa-chevron-down"></span></a></li>
						<li class="pull-left-xs text-center pl10-xs pr10-sm pr5-xs pl20-lg pr20-lg hidden-xs menu-why"><a href="#contact">Why-T-Mobile <span class="fa fa-chevron-down"></span></a></li>
					</ul>
					<!--nav-left-->
				</div>
				<!--/nav-collapse --> 
			</nav>
			
			<!-- sub-nav-list Section-->
			<div class="sub-nav-group clearfix">
				<div class="sub-nav-list p0 contact-list col-ph-12 clearfix">
					<div class="pt10-xs pt30-md pl30-xs pr30-xs pl0-ph pr0-ph pb30-md pl20-xs pr20-xs">
						<div class="clearfix">
							<div class="col-xs-12 col-sm-12 col-md-8 pl0 pr0 pr20-md">
								<ul class="p0 list-unstyled m-5-ph pl25-ph pr25-ph mb0-ph">
									<li class="sub-listing border-bot"><a href="#" class="cta1">Contact Small business Rep</a></li>
									<li class="sub-listing border-bot"><a href="#" class="cta1">Contact Enterprise rep</a></li>
									<li class="sub-listing hide-md border-bot"><a href="#" class="cta1">New Customer Support</a></li>
									<li class="sub-listing hide-md"><a href="#" class="cta1">Existing Customer Support</a></li>
								</ul>
							</div>
							<div class="support-group col-md-4 pl20 border-left-md border-gray-light-md mt30 mt0-sm pr0 hidden-sm hidden-xs">
								<h6>Support</h6>
								<p class="m0"> New Customer</p>
								<a href="tel:1-000-000-0000">1-000-000-0000</a>
								<p class="mt20 mb0">Existing Customer</p>
								<a href="tel:1-000-000-0000">1-000-000-0000</a> 
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix visible-ph"></div>
				<div class="sub-nav-list p0 mytmob-list">
					<div class="pt20-xs pl30-lg pr30-lg pr25-xs pl25-xs pb10-xs clearfix">
						<div class="sub-listing border-top visible-ph"><a href="#" class="cta1">My Account</a></div>
						<p class="mb20 pl20-ph pr20-ph hidden-ph">for 1-5 line business owners</p>
						<div class="row mb20 pl15-ph pr15-ph hidden-ph">
							<div class="col-50p pl20-md pr5 pr10-md"> <a href="#" class="text-center btn btn-primary btn-full height50 pt5">Login</a> </div>
							<div class="col-50p pr20-md pl5 pl10-md"> <a href="#" class="text-center btn btn-primary btn-full height50 pt5">Singup</a> </div>
						</div>
						<div class="clearfix"></div>
						<div class="sub-listing border-top hide-md"><a href="javascript:void(0)" class="cta1">Find a Store</a></div>
						<div class="sub-listing border-top hide-sm"><a href="javascript:void(0)" class="cta1">Why T-Mobile</a></div>
						<div class="sub-listing border-top border-bot hide show-lg mb30"><a href="javascript:void(0)">6+ line business owners, call 000-000-0000</a></div>
					</div>
				</div>
				<div class="clearfix visible-ph"></div>
				<div class="sub-nav-list p0 shop-list clearfix">
					<div class="pt10-xs pl30-xs pr30-xs pb30-sm pb20-xs">
						<ul class="list-unstyled m0">
							<li class="sub-listing pt20 pb20 visible-ph"><a class="cta1 no-bold" href="#">Coverage</a></li>
							<li class="sub-listing pt20 pb20"><a class="cta1 no-bold" href="#">Phones</a></li>
							<li class="sub-listing pt20 pb20 border-top"><a class="cta1 no-bold" href="#">Tablets & Devices</a></li>
							<li class="sub-listing pt20 pb20 border-top"><a class="cta1" href="#">Bring your own device</a></li>
							<li class="sub-listing pt20 pb20 border-top border-bot"><a class="cta1" href="#">Contact a Rep</a></li>
							<li class="text-left row hidden-ph">
								<div class="col-lg-6">
									<h2 class="pt20 mb0 text-primary"><i>The latest phones keep your <br class="hide-md">business <br class="visible-md">one step ahead.</i></h2>
									<p class="mt25-sm mt15 mb20">Our Simple Choice for business plan means everyone in your company can get their hands on the technology they want,when they want it.</p>
									<a class="cta1 text-small" href="javascript:void(0)">Learn more</a> 
								</div>
								<div class="col-lg-5 col-lg-push-1 visible-lg mt25"><img src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/header-shop-phones.png" alt="shop phones 4G LTE"></div>
							</li>
						</ul>
					</div>
				</div>
				<div class="clearfix visible-ph"></div>
				<div class="sub-nav-list p0 plans-list clearfix">
					<div class=" pt10 pt0-ph pl30 pr30 pl0-ph pr0-ph pb30 pb0-ph">
						<ul class="list-unstyled m0">
							<li class="sub-listing pt20 pb20"><a class="cta1" href="#">Plans overview</a></li>
							<li class="sub-listing pt20 pb20 border-top"><a class="cta1" href="#">Single line plans</a></li>
							<li class="sub-listing pt20 pb20 border-top"><a class="cta1" href="#">Multi-line plans</a></li>
							<li class="sub-listing pt20 pb20 border-top border-bot"><a class="cta1" href="#">Mobile internet plans</a></li>
							<li class="text-left row hidden-ph">
								<div class="col-sm-7 col-md-7 col-lg-7 col-xs-12">
									<h2 class="pt20 mb0 text-primary"><i>Choosing the best <br class="visible-md">business plan is simple</i></h2>
									<p class="mt30 mb20">T-Mobile Simple Choice for business plan makes choosing a carrier easy. You get the coverage you want on the fastest nationwide 4G LTE network, without the contracts, limits or overages.</p>
									<a class="cta1 text-small" href="javascript:void(0)">Learn more</a> </div>
								<div class="col-xs-5 pt20 visible-sm visible-md visible-lg text-center"> <img alt="globe" src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/header-plans-4GLTE.png"> </div>
							</li>
						</ul>
					</div>
				</div>
				<div class="clearfix visible-ph"></div>
				<div class="sub-nav-list p0 search-list show-lg clearfix">
					<div class="mt30 ml20 mr20 mb20 m0-lg p0-lg">
						<form class="nav-form" role="search">
							<div class="clear">
								<input type="text" class="form-control search-input center-block" placeholder="Find">
								<button type="submit" class="btn search-button center-block"> <img src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/icon-header-search.png" alt="sarch icon"> </button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!--/sub-nav-list Section--> 
		</div>
		<!--/main nav-->
	</div>
</header>
<!--/Header Section-->

</body>
</html>
