<!DOCTYPE html>
<html class="no-js">
<head>
<meta charset="UTF-8">
<title>T-Mobile B2B Offical Website</title>
<!--Temporarily disabled the "meta tag" for non-responsive layout-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/css/b2b.css">
<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/b2b/compclientlibs/shared/page-comp-level/css/b2b-comp.css">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')</script>
<script src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/js/b2b-min.js"></script>
<script src="../../../../../../../../etc/designs/tmo/b2b/compclientlibs/shared/page-comp-level/js/ledgen.js"></script>
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<!-- Header Section Start-->
<header id="header_body" class="header">
	<div class="container"> </div>
</header>
<!-- Header Section End--> 

<!-- Main Content Section Start-->
<main class="container"> 
	<!-- Button trigger modal -->
	<!-- Modal -->
	<div class="modal fade ledgen" id="ledgen-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="pt20 pr20 text-right">
					<ul class="mb20">
						<a href="javascript:void(0)"><i class="fa fa-times-circle" data-dismiss="modal" aria-hidden="true"></i></a>
					</ul>
				</div>
				<div class="modal-body pb10 pt0 pl40 pr40">
					<div class="mt20 mb20 visible-ph"><a href="#" class="legal back-link"><span class="fa fa-angle-left mr10"></span>Back to lorem ipsum</a></div>
					<div class="pr20">
						<h4 class="lh1 pb5" id="myModalLabel">We got your request.You'll hear from one of our reps within 48 hours.</h4>
					</div>
					<p class="legal mb0">Call a rep now</p>
					<a href="tel:1-877-334-7144" class="cta1 no-caret">1-877-334-7144</a>
					<div class="mt20"><a class="cta1" href="#">Find a store</a></div>
					<p class="legal mb0 mt20 pb10">Connect with us on the web</p>
					<div class="pt5"> <span class="pr15 pr5-ph"><a href="javascript:void(0)"><img alt="icon-facebook" src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/icon-twitter.png"></a></span> <span class="pr15 pr5-ph"><a href="javascript:void(0)"><img alt="icon-linkedIn" src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/icon-linkedin.png"></a></span> <span class="pr15 pr5-ph"><a href="javascript:void(0)"><img alt="icon-twitter" src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/icon-facebook.png"></a></span> <span class="pr15 pr5-ph"><a href="javascript:void(0)"><img alt="icon-twitter" src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/icon-google.png"></a></span> <span class="pr15 pr5-ph"><a href="javascript:void(0)"><img alt="icon-youtube" src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/icon-youtube.png"></a></span> </div>
					<div class="pt30">
						<button type="button" class="btn btn-default pl30 pr30" data-dismiss="modal">Return to lorem ipsum</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/modal--> 
</main>
<!-- Main Content Section End--> 

<!-- Footer Section Start-->
<footer>
	<div class="container"> </div>
</footer>
<!-- Footer Section End-->

</body>
</html>