<!DOCTYPE html>
<html class="no-js">
<head>
<meta charset="UTF-8">
<title>T-Mobile B2B Offical Website</title>
<!--Temporarily disabled the "meta tag" for non-responsive layout-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/css/b2b.css">
<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/b2b/compclientlibs/shared/page-comp-level/css/b2b-comp.css">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script>window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')</script> 
<script src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/js/b2b-min.js"></script>
<script src="../../../../../../../../etc/designs/tmo/b2b/compclientlibs/shared/page-comp-level/js/ledgen.js"></script>

<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body>
<!-- Header Section Start-->
<header id="header_body" class="header">
	<div class="container">
	</div>
</header>
<!-- Header Section End--> 

<!-- Main Content Section Start-->
<main class="container">

	<div class="text-holder ledgen pb50">

	</div>
  <!-- Modal -->
  <div class="modal fade ledgen" id="ledgen-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header pt20 pr20 pb15">
          <button type="button" class="fa fa-times-circle color-primary" data-dismiss="modal" aria-hidden="true"></button>
        </div>
        <div class="modal-body">
          <div class="mt20 mb20 visible-ph"><a href="#" class="legal back-link"><span class="fa fa-angle-left mr10"></span>Back to lorem ipsum</a></div>
          <h4 class="modal-title" id="myModalLabel">Let's talk business</h4>
          <p class="mb20">Enter your information and one of our sales reps will contact you within 48 hours.</p>
          <form class="form-horizontal" role="form">
            <section>
              <!-- input row -->
              <div class="form-group">
                <div class="error-box">
                  <div class="pull-left mr5">!</div>The field(s) below are invalid. Please correct and resubmit:<br>(Zip code)
                </div>
                
              </div>
              <!-- /input row -->
              <!-- input row -->
              <div class="form-group">
                <label class="control-label legal" for="name"><span>*</span>Name:</label>
                <label class="control-label legal pull-right">*required fields</label>
                <div>
                  <input type="text" placeholder="Dyanna Csaposs" class="form-control input-sm" id="name">
                </div>
              </div>
              <!-- /input row -->
              <!-- input row -->
              <div class="form-group">
                <label class="control-label legal" for="phnumber"><span>*</span>Phone Number:</label>
                <div>
                  <input type="number" placeholder="415-852-9874" class="form-control input-sm" id="phnumber">
                </div>
              </div>
              <!-- /input row --> 
              <!-- input row -->
              <div class="form-group">
                <label class="control-label legal" for="email"><span>*</span>E-mail address:</label>
                <div>
                  <input type="email" placeholder="dyanna254@gmail.com" class="form-control input-sm" id="email">
                </div>
              </div>
              <!-- /input row -->  
              <!-- input row -->
              <div class="form-group error">
                <label class="control-label legal " for="zip"><span>*</span>Zip code:</label>
                <div>
                  <input type="text" placeholder="" class="form-control active input-sm" id="zip">
                </div>
              </div>
              <!-- /input row -->
              <!-- input row -->
              <div class="form-group">
                <label class="control-label legal" for="company-size"><span>*</span>Company size:</label>
                <div>
                  <select class="form-control input-sm selectpicker">
                    <option>1 - 10 employees</option>
                    <option>10 - 100 employees</option>
											<option>100 - 1000 employees</option>
											<option>1000 - 5000 employees</option>
                  </select>
                </div>
              </div>
              <!-- /input row -->
              <!-- input row -->
              <div class="form-group">
                <label class="control-label legal" for="help"><span>*</span>How can we help?:</label>
                <div>
                  <select class="form-control input-sm selectpicker pl10">
                    <option>Option 1</option>
                    <option>Option 2</option>
											<option>Option 3</option>
                  </select>
                </div>
              </div>
              <!-- /input row -->
              <button type="button" class="btn btn-default pl30 pr30 mt10 disabled" data-dismiss="modal">submit</button>
            </section>
          </form>

        </div>
        
      </div>
    </div>
  </div>
 <!--/model-->

</main>
<!-- Main Content Section End--> 

</body>
</html>