<!DOCTYPE html>
<html class="no-js"><head>
<meta charset="UTF-8">
<title>T-Mobile B2B Offical Website - Home Page</title>
<!--Temporarily disabled the "meta tag" for non-responsive layout-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/css/b2b.css">
<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/b2b/compclientlibs/shared/page-comp-level/css/b2b-comp.css">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')</script>
<script src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/js/b2b-min.js"></script>

<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body class="byod">
<!--desktop background-->
<!--<div class="background-dsk"></div>-->
<!--/desktop background-->

<!--Header Section Start-->
<header id="header_body" class="header">
</header>
<!--/Header Section-->
<!--Main Content Section Start-->
<main class="container">
		<div class="mt10 mb10 hide-xs show-md"><a href="#" class="color-black">Share<span class="ml10 fa fa-share-alt"></span></a></div>
	<!--top banner-->
	<div class="row mb25-xs mt30-xs mt0-md">
		<!--image-text-horizontal component-->
		<section class="col-xs-12">
			<div data-background-src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/bg-byod-hero.dsk.jpg" data-background-target="desktop" class="box-holder bg-hero-dsk bg-600 pb30 border-top-ph border-gray-lighter-ph">
				<div class="row">
					<div class="col-ph-push-0 col-xs-6 col-xs-push-6 col-md-7 col-md-push-5 col-lg-8 col-lg-push-4 pl0-xs pr30-xs text-center">
						<h1>Bring your own device</h1>
						<p class="color-success mb25">Bring Your Own Device, or BYOD, lets your employess use their own personal mobile devices to access your company's email, systems and data. T-Mobile can help you create a customized BYOD solution for your business.</p>
						<div class="text-center mb20 visible-ph">
							<img alt="globe" class="image-responsive" src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/bg-byod-hero.mob.png">
						</div>
						<a class="text-center pl50 pr50 color-white text-uppercase btn btn-default" href="javascript:void(0)">CONTACT A REP</a>
					</div>
				</div>
			</div>
		</section>
		<!--/image-text-horizontal component-->
	</div>
	<!--/top banner-->
	<h2 class="mb0 hidden-ph">Why BYOD makes sense for your business</h2>
	<!--top box-->
	<div class="row mb30-xs">
		<!--image-text-horizontal component-->
		<section class="co_img-text-horizontal col-xs-12">
			<div class="box-holder pt35">
				<div class="row">
					<div class="col-xs-12 col-md-4  text-center pr20 pl20">
						<div class="row m10-xs m0-md">
							<div class="col-md-12 col-sm-3 col-xs-12 col-xs-3">
								<img src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/icon-arrow-large.png" alt="Arrow icon">
							</div>
							<div class="col-md-12 col-sm-9 col-xs-12 col-xs-9 text-left-xs text-center-md">
							<h4 class="mt20-md mt0-xs mt20-ph">You increase productivity</h4>
							<p>Your employees are already experts at using their own personal devices, which makes them more productive. And personal devices are usually more cutting-edge, so your business can access the very latest technology.</p>
							</div>
						</div>
					<hr class="border-top-dotted-ph full-width visible-ph">
					</div>
					<div class="col-md-4 col-xs-12 text-center pr20 pl20">
						<div class="row m10-xs m0-md">
							<div class="col-md-12 col-sm-3 col-xs-12 col-xs-3">
								<img src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/icon-smile-large.png" alt="Smile icon">
								</div>
								<div class="col-md-12 col-sm-9 col-xs-12 col-xs-9 text-left-xs text-center-md">
								<h4 class="mt20-md mt0-xs mt20-ph">You have happier employees</h4>
								<p>With BYOD, your people get the device they really want, not one forced on them by IT, and no one has to carry around more than one device. Plus T-Mobile lets them upgrade devices whenever they want.</p>
							</div>
						</div>
						<hr class="border-top-dotted-ph full-width visible-ph">
					</div>
					<div class="col-md-4 col-xs-12 text-center pr20 pl20">
						<div class="row m10-xs m0-md">
							<div class="col-md-12 col-sm-3 col-xs-12 col-xs-3 pr40-xs pr10-md">
								<img src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/icon-dollar-large.png" alt="Dollar icon">
							</div>
							<div class="col-md-12 col-sm-9 col-xs-12 col-xs-9 text-left-xs text-center-md">
								<h4 class="mt20-md mt0-xs mt20-ph">You save money</h4>
								<p>BYOD programs mean you can leverage existing devices, and don't have buy new ones. And with T-mobile you can save even more, because you only pay for your plan, and not any devices.</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>
		<!--/image-text-horizontal component-->
	</div>
	<!--/top box-->

	<!--middle box-->
	<div class="row mb30-xs">
		<!--image-text-horizontal component-->
		<section class="co_img-text-horizontal col-xs-12 mt30-ph">
			<div class="box-holder border-top-dotted-ph">
				<div class="row">
					<div class="col-md-4 col-xs-3 pl30 pl40-xs pr0-xs pt20-xs pt40-md pt20-lg text-center">
						<img class="img-600 img-1200" src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/icon-phone-tmo-large.png" alt="globe">
					</div>
					<div class="col-md-8 col-xs-9 pr30 pr40-xs pl20-xs mt20-ph">
						<h3>The ideal partner to help you create the ideal solution.</h3>
						<p>No matter what size your business, T-mobile will work with you to make sure your company gets the BYOD solution that best suits the needs of your business. And unlike other providers, we don;t just help you find a solution, we'll be there helping you all the way through to implentation. </p>
					</div>
				</div>
			</div>
		</section>
		<!--/image-text-horizontal component-->
	</div>
	<!--/middle box-->
		<!--middle box-->
	<div class="row mb30-xs">
		<!--image-text-horizontal component-->
		<section class="co_img-text-horizontal col-xs-12">
			<div class="box-holder border-top-dotted-ph mt30-ph">
				<div class="row">
					<div class="col-sm-6 col-sm-push-6 col-md-7 col-md-push-5 s pl30 pl40-xs pl10-sm pr30 pr40-sm pt30-sm pt20-md pt0-lg pl50-lg pr50-lg text-center">
						<div class="row">
							<figure class="col-xs-6 col-xs-push-3 col-sm-12 col-sm-push-0 col-ph-10 col-ph-push-1 mb20-ph">
								<img src="../../../../../../../../etc/designs/tmo/b2b/globallibs/shared/img/mobile-devices.jpg" alt="device image">
							</figure>
						</div>
					</div>
					<div class="col-sm-6 col-sm-pull-6 col-md-5 col-md-pull-7 pl30 pl40-xs pr30 pr10-sm pt40-md">
						<h3>You bring the device, we'll bring the advice.</h3>
						<p>No matter what phone, tablet, or internet device you bring with you, the chances are T-mobile will have it covered. We support the vast majority of the latest devices from all the leading brands, and we make bringing them onto our network as simple as possible.</p>
					</div>

				</div>
			</div>
		</section>
		<!--/image-text-horizontal component-->
	</div>
	<!--/middle box-->
	<!--middle box-->
	<div class="row mb30-xs">
		<!--image-text-horizontal component-->
		<section class="co_img-text-horizontal col-xs-12">
			<div class="box-holder border-top-dotted-ph mt30-ph">
				<div class="row">
					<div class="col-sm-7 col-xs-12  pl30 pl40-xs pr30 pr10-sm">
						<h3>More advanced needs, meet more advanced support.</h3>
						<p>If your business has more advanced needs, T-mobile provides a turnkey Mobile Device Management (MDM) solution: Hosted Mobility Management Services (HMMS) And we offer a custom MDM evaluation to figure out exactly the right solution for your business.</p>
					</div>
					<div class="col-sm-5 col-xs-12 pr30 pr40-xs pl30 pl40-xs pl10-sm">
						<ul class="fa-ul ml30 lh2-0">
							<li><i class="fa-li fa fa-check-circle lh2-0 text-success"></i>A variety of MDM vendors</li>
							<li><i class="fa-li fa fa-check-circle lh2-0 text-success"></i>MDM setup and installation</li>
							<li><i class="fa-li fa fa-check-circle lh2-0 text-success"></i>24/7 mobile IT support help desk</li>
							<li><i class="fa-li fa fa-check-circle lh2-0 text-success"></i>Implementation of security & privacy policies</li>
						</ul>				
					</div>
				</div>
			</div>
		</section>
		<!--/image-text-horizontal component-->
	</div>
	<!--/middle box-->
		<!--middle box-->
	<div class="row mb30-xs">
		<!--image-text-horizontal component-->
		<section class="co_img-text-horizontal col-xs-12">
			<div class="box-holder border-top-dotted-ph mt30-ph">
				<div class="row">
					<div class="col-md-8 col-sm-6 pl30 pl40-sm pr30 pr10-sm">
						<h4>Questions on plans?</h4>
							<ul class="accordion fa-ul ml30 mr20 lh2-0">
								<li class="active"><a href="javascript:void(0)"><i class="fa-li fa fa-plus-circle lh2-0"></i>What happens if I go over the limit of my high-speed data?</a>
									<p class="detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, ipsam, repellendus eaque nesciunt sapiente ad iste aut incidunt. Ullam, eum!</p>
									<p class="detail">Suscipit, minima, vitae labore vel illo quos esse a hic inventore tenetur harum autem repellat ea? Eos, provident blanditiis laborum?</p>
								</li>
								<li><a href="javascript:void(0)"><i class="fa-li fa fa-plus-circle lh2-0"></i>What if I want to change my monthly plan?</a>
									<div class="detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, cumque dolore deserunt voluptatem consequuntur blanditiis ut possimus officia deleniti alias. Quaerat, aspernatur dolorum veniam minima!</div>
									<div class="detail">Vero, et beatae nobis aliquid. Dolorem, animi, magni, consequatur, beatae ipsam perspiciatis veniam est necessitatibus quidem aliquam illum atque velit assumenda dolor sapiente aliquid sed!</div>
								</li>
								<li><a href="javascript:void(0)"><i class="fa-li fa fa-plus-circle lh2-0"></i>No service contract? Really?</a>
									<p class="detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam amet ab minima ipsum. Voluptatum, eligendi, molestias, reprehenderit laboriosam nostrum recusandae magnam omnis eaque beatae hic iusto aperiam amet laborum itaque.</p>
								</li>
								<li><a href="javascript:void(0)"><i class="fa-li fa fa-plus-circle lh2-0"></i>How do I switch?</a>
									<p class="detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, enim, voluptatem! Temporibus, ex, nemo, obcaecati eos officia labore vero repellat sequi quibusdam illum culpa iure quam molestias dicta delectus veniam.</p>
								</li>
							</ul>
					</div>
					<div class="col-md-4 col-sm-6 pl20-md pr30 pr40-sm pl30 pl10-sm border-left-md border-gray-light-md mt30 mt0-sm">
						<h4>Contact a sales rep</h4>
						<p class="legal mb0">Have a rep contact you</p>
						<a href="#" class="cta1">Send a request</a>
						<p class="legal mb0 mt10">Call a rep now</p>
						<a class="cta1 no-caret" href="tel:1-877-334-7144">1-877-334-7144</a>
						<div class="mt10"><a href="#" class="cta1">Find a store</a></div>
					</div>
				</div>
				<hr class="border-top-dotted m-20-ph mb20">
				<div class="text-center">View 4 more questions <span class="fa fa-caret-down"></span></div>
			</div>
		</section>
		<!--/image-text-horizontal component-->
	</div>
	<!--/middle box-->
	<p class="legal mt25">*Vivamus egestas ligula in gravida malesuada. Vivamus quam ante, facilisis eget angue ut, sodales hendrerit enim, Nullam edipiscing liqula in nulla auctor, nec congue sem lobortis, Nunc neque sapien, porta eu dolor a, placerat consequat risus. In ut risus quis diam molestie vulputale.</p>
	<p class="legal mb25">Cras aliquet vulputate ligula non scelerisque. Morbi sagittis nulla id sagittis tincidunt. Maecenas non sem lacus. Pellentesque vel vulputate magne, quis ornare orci. Ut ornare lectus in mi suscipit fringilla.</p>
</main>
<!--/Main Content Section-->

<!--Footer Section Start-->
<footer>
	<div class="container">

	</div>
</footer>
<!--/Footer Section-->
</body>
</html>